header {
  text-align: center; /* Center everything within the header */
  padding: 3%;
  width: 100%;
  display: flex;
}

.logoStyle {
  width: 200px;
  height: auto;
  justify-content: flex-end;
}

.voyageButtonContainer{
  padding-top: 15%;
  display: flex;
}

#formsContainer {
  max-width: 20%;
}

.loginBtn {
  background-color: rgb(136, 74, 207) !important; 
  border: solid 1px rgb(236, 26, 173) !important;
}

.signUpBtn {
  background-color: rgb(136, 74, 207) !important; 
  border: solid 1px rgb(236, 26, 173) !important;
}

.voyageButtonContainer {
  padding-top: 3%;
  display: flex;
  justify-content: center; 
  width: 100%; 
}

.beginVoyageBtn.btn {
  background-color: rgb(136, 74, 207);
  border: solid 1px rgb(236, 26, 173); 
}

/* weird little floating blue boxes from react needed to be overwritten */
.planetButton { 
  border: transparent !important;
  background-color: transparent !important;
}

#pTag {
  font-size: 15px;
  color: white;
  text-align: center;
  padding-top: 2%;
  background-color: rgb(136, 74, 207, .5);
  border-radius: 10px;
}

footer {
  display: flex;
  align-items: center; 
  justify-content: center; 
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(136, 74, 207, .5);
  color: white;
}
footer h4 {
  font-size: 18px;
}

.footerLogo {
  width: 40px;
  height: 40px;
  margin-right: 10px; 
}