:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

*{
  color: white;
}

/* html, body {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
} */
/* #root{
  height: 100%;
  width: 100%;
} */

.introMap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.5%;
  padding: 2px;
  color: #FF8C61; 
  background-color: rgba(248, 242, 244, 0.25); 
  padding: 20px;
  border-radius: 20px;
}

.introMap h2{
  font-size: 1.5rem;
  margin: 0px;
  padding: 0px;
}

#bigContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; 
  position: relative;
  margin: auto; 
}

#galaxyMap {
  max-width: auto;
  max-height: 70vh;
  border-radius: 10%;
  margin: auto; /* Center the image */
}

.planetButton {
  position: absolute;
  border: none;
  background: none;
  cursor: pointer;
  max-width: 80px;
  max-height: 80px;
  border: transparent !important;
  background-color: transparent !important;
}

.planetPhoto {
  position: absolute;
  max-width: 80px;
  max-height: 80px;
  transition: all 0.3s ease;
  border-radius: 50%; 
}

.planetPhoto:hover {
  box-shadow: 0 0 15px 10px rgba(236, 24, 166, 0.7); 
}

/* planet positions */

.planet3 { top: 20%; left: 40%; }
.planet4 { top: 10%; left: 50%; }
.planet5 { top: 15%; left: 80%; }
.planet7 { top: 60%; left: 0%; }
.planet8 { top: 70%; left: 50%; }
.planet9 { top: 60%; left: 70%; }
.planet10 { top: 50%; left: 90%; }
.planet11 { top: 10%; left: 10%; }
.planet12 { top: 50%; left: 20%; }

/* navigation */

.logout-container button {
  /* Styles for the logout button */
  background-color: transparent;
  color: #f77b28; 
  margin-top: 10px;
  font-size: 20px;
  border-radius: 5px;
  border: none; 
}


.nav-item {
  /* Styles for the map and voyages */
  color: #5C374C !important; 
  font-size: 20px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: none; 
} 

.nav-link {
  color: #FF8C61 !important;
}

.nav-link:hover {
  color: #5C374C !important; 
}

/* @media only screen and (max-width: 600px) {
  #bigContainer{
    flex-direction: column;
  }
  #galaxyMap{
    width: 100%;
    height: 100%;
  }
  #planetCards{
    width: 100%;
    height: 100%;
  }
  #planet{
    margin: 0px;
  }
  #planetImg{
    height: 100px;
  }
  #forms{
    width: 100%;
  }
  #headerContainer{
    margin-bottom: 0px;
  }
  #pTag{
    margin-bottom: 0px;
  }
  #footerContainer{
    margin-top: 0px;
  }
  #footerContainer{
    margin-top: 0px;
  }
} */

