:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

*{
  color: white;
  /* background-image: url('./assets/images/landingpage.png'); */
}

html, body {
  height: 100%;
}

body {
  display: flex;
  width: 100%;
  height: 100%;
 background-image: url('./assets/images/landingpage.png');
}
#root{
  height: 100%;
  width: 100%;
}
header{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#headerContainer{
margin-bottom: 400px;
margin-top: 35px;
height: 75px;
color: white;
}
#pTag{
  margin-bottom: 125px;
}
#forms{
  width: 33%;
  display: flex;
  justify-content: space-between;

}

#footer{
  margin-bottom: -1px;
}