:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

*{
  color: white;
}

html, body {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}
#root{
  height: 100%;
  width: 100%;
}
/* Landing Page stuff */
header{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.introMap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1.5%;
  color: #19cbeb;
}

#bigContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; 
  position: relative;
  margin: auto; 
}

#galaxyMap {
  max-width: 100%;
  max-height: 80vh;
  border-radius: 10%;
  margin: auto; /* Center the image */
}

.planetButton {
  position: absolute;
  border: none;
  background: none;
  cursor: pointer;
  max-width: 80px;
  max-height: 80px;
}

.planetPhoto {
  position: absolute;
  max-width: 80px;
  max-height: 80px;
  transition: all 0.3s ease;
  border-radius: 50%; 
}

.planetPhoto:hover {
  box-shadow: 0 0 15px 10px rgba(236, 24, 166, 0.7); 
}

/* planet positions */
.planet1 { top: 10%; left: 0%; }
.planet2 { top: 20%; left: 30%; }
.planet3 { top: 40%; left: 40%; }
.planet4 { top: 10%; left: 50%; }
.planet5 { top: 15%; left: 80%; }
.planet6 { top: 70%; left: 30%; }
.planet7 { top: 80%; left: 0%; }
.planet8 { top: 80%; left: 50%; }
.planet9 { top: 80%; left: 80%; }
.planet10 { top: 50%; left: 90%; }
.planet11 { top: 60%; left: 10%; }
.planet12 { top: 50%; left: 50%; }

/* #planetCards{
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 60%;
}

#planet{
  margin: 0px 0px 50px 0px;
  background-color: bisque;

}
#planetImg{
  height:275px
} */

@media only screen and (max-width: 600px) {
  #bigContainer{
    flex-direction: column;
  }
  #galaxyMap{
    width: 100%;
    height: 100%;
  }
  #planetCards{
    width: 100%;
    height: 100%;
  }
  #planet{
    margin: 0px;
  }
  #planetImg{
    height: 100px;
  }
  #forms{
    width: 100%;
  }
  #headerContainer{
    margin-bottom: 0px;
  }
  #pTag{
    margin-bottom: 0px;
  }
  #footerContainer{
    margin-top: 0px;
  }
  #footerContainer{
    margin-top: 0px;
  }
}

