/* styling for the voyage card elements */
.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    flex-wrap: wrap;
}

.card-container a, .card-container a:hover, .card-container a:focus, .card-container a:active {
    text-decoration: none; /* Removes the underline */
    color: inherit; /* Optional: Inherits the text color from the parent element */
}

.card-element {
    margin: 10px;
    padding: 10px;
    border: white 1px solid;
    border-radius: 5px;
    background-color: transparent;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
}

.card-element:hover {
    box-shadow: 4px 4px 4px 0 rgba(148, 0, 211, 0.8);
    transform: scale(1.05);
  }

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}